/* --------------------
Common styles
          ----------------------- */
body{
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color:  #2D25A0;
}
.header-ariea{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

/* Header Maintain */


.header-width h1, a{
    color: #FFFFFF;
}
.header-width img{
    width: 556.01px;
    height: 438px;   
}
.head{
    font-weight: 700;
    font-size: 50px;
}
.header-width a{
    text-decoration: none;
    width: 88px;
    height: 24px;
    border: 1px solid salmon;
    font-weight: 500;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.animation:hover{
    background-color: white;
    color: goldenrod;
}
.fa-arrow-right{
    margin-left: 8px;
}

/* -----------
     Main Maintain
     ---------------- */

.container{
    display: flex;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    margin-top: 43px;
 }
 .player{
     margin-top: 27px;
     padding: 15px;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
.players .player img{
        width: 320px;
        height: 256px;
}
.player h3{
    font-weight: 700;
    font-size: 28px;
}
.player-info{
    width: 300px;
    font-size: 16px;
}
.half-width{
    display: flex;
    margin-top: 200px;
    background-image: url(all-plkayer1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.half{
    width: 50%;
    padding: 10px;
}
.color{
    color: rgb(121, 103, 0);
}
.half img{
    
    width: 520px;
    height: 420px;
}
.half h1{
    font-size: 40px;
}
.link{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(skyblue, blue);
    color: white;
    font-weight: 700;
}

/* Another Item */
.add{
    margin-top: 100px;
    margin-left: 50px;
}

/* Footer section */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 158px;
}
footer img{
    width: 483.87px;
    height: 110px;
}
footer i{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 20px;
    margin: 0 10px;
}
footer p{
    font-size: 18px;
    margin: 20px 0;
}